<html>
<h1>ira</h1>
<style>
.slidercontainer {
  width: 100%;
}
input {
  width:100%;
}
</style>


<div class="slidercontainer">
{% for i in channels %}
<label for="slider{{ loop.index }}">{{ i }}</label>
<input type="range" min=0 max="255" value=0 class="slider" id=slider{{ loop.index }} oninput="sendValues()" ></br>
{% endfor %}
</div>
<div id="result"></div>


<script>
lastSend = new Date();
result = document.getElementById("result");

function sendValues() {
  now = new Date();
  if (now - lastSend > 30) {
      args = "?";
    for (i = 1; i < 8; i++) {
      args += "program=" + document.getElementById("slider" + i).value + '&';
    }

      console.log("sending values", args);
    ajax(args);
    lastSend = new Date();
  }
}

function ajax(arg) {


  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
     result.innerHTML = this.responseText;
    }
  };
  xhttp.open("GET", "ira" + arg, true);
  xhttp.send();
}

</script>
</html>
